.section-slider-two {
    display: block;
    position: initial;
    height: 220px;

    @media (min-width: 768px) {
        // height: 14.41667vw;
        height: 500px;
    }

    @media (min-width: 1280px) {
        // height: 10.41667vw;
        height: 500px;
    }
}

.section-slider-two .slider-first-screen {
    // -webkit-transform: translateY(-50%);
    // -ms-transform: translateY(-50%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // transform: translateY(-50%);
}

.section-slider-two .swiper-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-slider-two-item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 10px;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        color: transparent;
        object-fit: cover;
    }
}
